.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    @include middle-screen {
        width: 90%;
    }

    @include little-screen {
        flex-direction: column;
        align-items: center;
    }
}

/*Modal===========================
=================================*/

.modal-confirm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translateX(-50%); 
    
    max-width: 500px;
    width: 100%;
    height: 200px;
    
    background-color: $main-color;
    border: 3px solid $secondary-color;
    border-radius: 15px;
    visibility: hidden;

    @include little-screen {
        width: 90%;
        height: 150px;
    }

    &__text {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    &__input {
        display: block;
        width: 80%;
        height: 25%;
        margin: 0 auto;
        padding-left: 10px;
        font-size: 18px;
        border: 1px solid $secondary-color;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__submit-btn {
        width: 40%;
        height: 40px;
        margin-right: 10px;
        font-weight: 700;
        color: $main-color;
        background-color: #f0ce1d;
        border: none;

        @include little-screen {
            width: 30%;
            height: 30px;
        }
    }

    &__cancel-btn {
        width: 40%;
        height: 40px;
        font-weight: 700;
        color: $main-color;
        background-color: #9c9da1;
        border: none;

        @include little-screen {
            width: 30%;
            height: 30px;
        }
    }
}