/*Colors==========================
=================================*/
$main-color: #FFFFFF;
$secondary-color: #adabab;
$highlight-color: #323844;
$text-color: #323844;


/*Shadow===========================
=================================*/
$shadow: 0 0 10px rgba(0,0,0,0.5);


/*Fonts============================
=================================*/
$primary-text: calc(14px + 0.2vw);
$title-text: calc(16px + 0.15vw);
$drop-area-text: calc(22px + 0.25vw)
